@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&display=swap');

// Reset styles
* {
  color: inherit;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  overflow: hidden;
  height: 100%;
  background-color: var(--clr-purple);
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.hidden {
  display: none !important;
}

// Colors Variables
:root {
  --clr-pink: #fd6687;

  --clr-darkPurple: #5c2dd5;
  --clr-purple: #7945ff;

  --clr-yellow: #f2c063;

  --clr-lightWhite: #f2f2f2;
}

@mixin header-btn-style {
  &:hover {
    background-color: var(--clr-pink);
  }
  cursor: pointer;
  color: var(--clr-lightWhite);
  padding: 10px 20px;
  border: none;
  background-color: var(--clr-darkPurple);
  border-radius: 50px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

header {
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 380px 50px 380px;
    .menu-btn {
      @include header-btn-style;
    }
    .restart-btn {
      @include header-btn-style;
    }
  }
}

main {
  position: relative;
  height: 100%;
  .player-1-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 164px;
    left: 210px;
    .player-1-img {
      position: absolute;
      top: -26px;
      z-index: 1;
    }
    .player-text {
      text-align: center;
      position: absolute;
      top: 42px;
      z-index: 1;
      .player-name {
        font-size: 22px;
        font-weight: 600;
        color: black;
        text-transform: uppercase;
      }
      .player-score {
        font-size: 60px;
        font-weight: 700;
      }
    }
    .player-card {
      background-color: var(--clr-lightWhite);
      border: 3px solid black;
      border-radius: 20px;
      box-shadow: 0 10px 0 black;
      flex-direction: row;
      height: 160px;
      position: relative;
      width: 142px;
    }
  }
  .player-2-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 164px;
    right: 210px;
    .player-2-img {
      position: absolute;
      top: -26px;
      z-index: 1;
    }
    .player-text {
      text-align: center;
      position: absolute;
      top: 42px;
      z-index: 1;
      .player-name {
        font-size: 22px;
        font-weight: 600;
        color: black;
        text-transform: uppercase;
      }
      .player-score {
        font-size: 60px;
        font-weight: 700;
      }
    }
    .player-card {
      background-color: var(--clr-lightWhite);
      border: 3px solid black;
      border-radius: 20px;
      box-shadow: 0 10px 0 black;
      flex-direction: row;
      height: 160px;
      position: relative;
      width: 142px;
    }
  }

  .table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .table-imgs {
      position: absolute;
      .white-table {
        position: absolute;
        z-index: 1;
      }
      .black-table {
        position: absolute;
        z-index: 0;
      }
    }
  }
  table {
    border-spacing: 20px; // Adds spacing between cells for the hollow circle design
    background-color: var(--clr-lightWhite);
    border-radius: 48px;
    padding-bottom: 40px;
    box-shadow: 0 11px 0 black;
    position: relative;
    border: 3px solid black;
    td {
      width: 60px;
      height: 60px;
      position: relative;
      border-radius: 50%;
      background: var(--clr-purple);
      border: 3px solid black;
      cursor: pointer;
      overflow: hidden;
      &::before {
        content: '';
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        z-index: 1;
      }
      &.pink::before {
        background-color: var(--clr-pink);
      }
      &.yellow::before {
        background-color: var(--clr-yellow);
      }
    }
  }
}

.footer {
  // position: relative;
  // height: 100%;
  .images-container {
    img {
      position: absolute;
      top: 56%;
      left: 43.2%;
      z-index: 1;
    }
    .player-1-footer {
      &.white-background {
        background-color: var(--clr-lightWhite) !important;
      }
      .player-1-footer-text-container {
        position: absolute;
        top: 61%;
        left: 45.1%;
        z-index: 2;
        text-align: center;
        .player-1-footer-text {
          font-size: 18px;
          line-height: 21px;
          text-transform: uppercase;
          font-weight: 600;
          margin-bottom: 28px;
        }
        .timer {
          font-size: 60px;
          line-height: 21px;
          font-weight: 600;
        }
      }
    }
    .player-2-footer {
      &.white-background {
        background-color: var(--clr-lightWhite) !important;
      }
      .player-2-footer-text-container {
        position: absolute;
        top: 61%;
        left: 45.1%;
        z-index: 2;
        text-align: center;
        color: var(--clr-lightWhite);
        .player-2-footer-text {
          font-size: 18px;
          line-height: 21px;
          text-transform: uppercase;
          font-weight: 600;
          margin-bottom: 28px;
        }
        .timer {
          font-size: 60px;
          line-height: 21px;
          font-weight: 600;
        }
      }
    }
    .win-card-container {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      top: 57%;
      right: 39.3%;
      .player-win-text {
        text-align: center;
        position: absolute;
        top: 16px;
        z-index: 1;
        .player-win {
          font-size: 18px;
          line-height: 21px;
          text-transform: uppercase;
          font-weight: 600;
          margin-bottom: 28px;
        }
        .win {
          text-transform: uppercase;
          font-size: 60px;
          line-height: 21px;
          font-weight: 600;
          margin-bottom: 26px;
        }
        .play-again-btn {
          background-color: var(--clr-darkPurple);
          border: none;
          border-radius: 20px;
          color: var(--clr-lightWhite);
          cursor: pointer;
          font-size: 16px;
          font-weight: 500;
          height: 39px;
          line-height: 21px;
          text-transform: uppercase;
          width: 108px;
        }
      }
      .win-card {
        background-color: var(--clr-lightWhite);
        border: 3px solid black;
        border-radius: 20px;
        box-shadow: 0 10px 0 black;
        flex-direction: row;
        height: 160px;
        position: relative;
        width: 300px;
      }
    }
    .tie-card-container {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      top: 57%;
      right: 39.3%;
      .tie-text-container {
        text-align: center;
        position: absolute;
        top: 16px;
        z-index: 1;
        .tie-text {
          font-size: 18px;
          line-height: 21px;
          text-transform: uppercase;
          font-weight: 600;
          margin-bottom: 28px;
        }
        .tie {
          text-transform: uppercase;
          font-size: 60px;
          line-height: 21px;
          font-weight: 600;
          margin-bottom: 26px;
        }
        .tie-btn {
          background-color: var(--clr-darkPurple);
          border: none;
          border-radius: 20px;
          color: var(--clr-lightWhite);
          cursor: pointer;
          font-size: 16px;
          font-weight: 500;
          height: 39px;
          line-height: 21px;
          text-transform: uppercase;
          width: 108px;
        }
      }
      .win-card {
        background-color: var(--clr-lightWhite);
        border: 3px solid black;
        border-radius: 20px;
        box-shadow: 0 10px 0 black;
        flex-direction: row;
        height: 160px;
        position: relative;
        width: 300px;
      }
    }
  }
  .footer-background {
    &.player-2-background {
      background-color: var(--clr-yellow) !important;
    }
    &.player-1-background {
      background-color: var(--clr-pink) !important;
    }
    background-color: var(--clr-darkPurple);
    border-radius: 5%;
    position: absolute;
    top: 56%;
    width: 100%;
    height: 40%;
    z-index: -1;
  }
}
